<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">

    <title>Contact Form #7</title>
  </head>
  <body>
  
  <div class="content">
    
    <div class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
       
          <div class="form h-100">
            <h3>Police FIR Portal</h3>
            <form id="csvForm" action="/upload_csv" method="post">
              <div class="row">
                <div class="col-md-6 form-group mb-5">
                    <label for="districtName" class="col-form-label">District Name *</label>
                    <input type="text" class="form-control" id="districtName" name="districtName" required placeholder="District Name">
                </div>
                
              <div class="col-md-6 form-group mb-5">
                <label for="unitName" class="col-form-label">Unit Name *</label>
                <input type="text" class="form-control" id="unitName" name="unitName" required placeholder="Unit Name">
            </div>
                <div class="col-md-6 form-group mb-5">
                    <label for="year" class="col-form-label">Year *</label>
                    <input type="number" class="form-control" id="year" name="year" required placeholder="Year">
                </div>
                
                <div class="col-md-6 form-group mb-5">
                    <label for="month" class="col-form-label">Month *</label>
                    <input type="number" class="form-control" id="month" name="month" required placeholder="Month">
                </div>
                  
              <div class="col-md-6 form-group mb-5">
                  <label for="firNo" class="col-form-label">FIR No *</label>
                  <input type="text" class="form-control" id="firNo" name="firNo" required placeholder="FIR No">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                <label for="VictimName" class="col-form-label">Victim Name *</label>
                <input type="text" class="form-control" id="VictimName" name="VictimName" required placeholder="Victim Name">
            </div>
            
            <div class="col-md-6 form-group mb-5">
                <label for="Age" class="col-form-label">Age *</label>
                <input type="number" class="form-control" id="Age" name="Age" required>
            </div>
            
              <div class="col-md-6 form-group mb-5">
                  <label for="Caste" class="col-form-label">Caste *</label>
                  <input type="text" class="form-control" id="Caste" name="Caste" required placeholder="Caste">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                <label for="Sex" class="col-form-label">Sex *</label>
                <select class="form-control" id="Sex" name="Sex" required>
                    <option value="" disabled selected>Select Sex</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            
              
              <div class="col-md-6 form-group mb-5">
                  <label for="Profession" class="col-form-label">Profession *</label>
                  <input type="text" class="form-control" id="Profession" name="Profession" required placeholder="Profession">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                <label for="PresentAddress" class="col-form-label">Present Address *</label>
                <textarea class="form-control" id="PresentAddress" name="PresentAddress" required placeholder="PresentAddress" rows="2" cols="50"></textarea>
            </div>
              
              <div class="col-md-6 form-group mb-5">
                  <label for="PresentCity" class="col-form-label">Present City *</label>
                  <input type="text" class="form-control" id="PresentCity" name="PresentCity" required>
              </div>
              
              <div class="col-md-6 form-group mb-5">
                  <label for="PresentState" class="col-form-label">Present State *</label>
                  <input type="text" class="form-control" id="PresentState" name="PresentState" required>
              </div>
              
              <div class="col-md-6 form-group mb-5">
                <label for="PermanentAddress" class="col-form-label">Permanent Address *</label>
                <textarea class="form-control" id="PermanentAddress" name="PermanentAddress" required placeholder="PermanentAddress" rows="2" cols="50"></textarea>
            </div>
            <div class="col-md-6 form-group mb-5">
                <label for="PermanentCity" class="col-form-label">Permanent City *</label>
                <input type="text" class="form-control" id="PermanentCity" name="PermanentCity" required>
            </div>
            
            <div class="col-md-6 form-group mb-5">
                <label for="PermanentState" class="col-form-label">Permanent State *</label>
                <input type="text" class="form-control" id="PermanentState" name="PermanentState" required>
            </div>
            
              
              <div class="col-md-6 form-group mb-5">
                  <label for="Nationality_Name" class="col-form-label">Nationality *</label>
                  <input type="text" class="form-control" id="Nationality_Name" name="Nationality_Name" required placeholder="Nationality Name">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                  <label for="DOB" class="col-form-label">DOB *</label>
                  <input type="date" class="form-control" id="DOB" name="DOB" required placeholder="DOB">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                  <label for="PersonType" class="col-form-label">Person Type *</label>
                  <input type="text" class="form-control" id="PersonType" name="PersonType" required placeholder="Person Type">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                  <label for="InjuryType" class="col-form-label">Injury Type *</label>
                  <input type="text" class="form-control" id="InjuryType" name="InjuryType" required placeholder="Injury Type">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                  <label for="Injury_Nature" class="col-form-label">Injury Nature *</label>
                  <input type="number" class="form-control" id="Injury_Nature" name="Injury_Nature" required placeholder="Injury Nature">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                  <label for="Crime_No" class="col-form-label">Crime No *</label>
                  <input type="number" class="form-control" id="Crime_No" name="Crime_No" required placeholder="Crime No">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                  <label for="Arr_ID" class="col-form-label">ArrestedID *</label>
                  <input type="text" class="form-control" id="Arr_ID" name="Arr_ID" required placeholder="Arrested ID">
              </div>
              
              <div class="col-md-6 form-group mb-5">
                  <label for="Victim_ID" class="col-form-label">VictimID *</label>
                  <input type="text" class="form-control" id="Victim_ID" name="Victim_ID" required placeholder="Victim ID">
              </div>
              
              <div class="col-md-12 form-group mb-5">
                  <input type="submit" class="btn btn-primary" value="Submit">
              </div>              
          </div>

      </div>
    </div>

  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>